#root {
    background-color: #c8ced350;
    height: 100vh;
    position: relative;

    .container {
        background-color: #fff;
        width: 390px;
        position: absolute;
        top: calc((100vh - 322px)/2);
        left: calc((100% - 390px)/2);
        height: 315px;
        border-radius: 0.25rem;

        .form {
            width: 300px;
            margin: 0 auto;
            height: 232px;
            padding: 40px;

            h1 {
                margin: 0 0 8px;
                font-size: 35px;
                color: #23282c;
                font-weight: 500;
            }

            p {
                margin: 0 0 16px;
                color: #73818f;
            }

            .input-group {
                display: flex;
                height: 35px;
                flex-wrap: wrap;
                align-items: stretch;
                margin-bottom: 1rem;

                .form-control {
                    width: 260px;
                    box-sizing: border-box;
                    padding: 6px 12px;
                    color: #5c6873;
                    border: 1px solid #e4e7ea;
                    border-radius: 0.25rem;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                .input-group-prepend {
                    width: 40px;
                    height: 35px;
                    position: relative;
                    border: 1px solid #e4e7ea;
                    box-sizing: border-box;
                    color: #23282c;
                    background-color: #c8ced3;

                    .input-group-text {
                        padding: 0.375rem 0.75rem;
                        position: absolute;
                    }
                }
            }

            .row {
                display: flex;
                justify-content: space-between;

                .btn-primary {
                    background-color: #20a8d8;
                    height: 35px;
                    width: 85px;
                    box-sizing: border-box;
                    border-radius: 0.25rem;
                    border-color: #20a8d8;
                    color: #fff;
                }

                .btn-link {
                    border: 0;
                    color: #20a8d8;
                    background-color: #fff;
                }
            }
        }
    }
}